@tailwind base;
@tailwind components;
@tailwind utilities;
.item-spacing {
  margin-right: 20px; /* Adjust spacing as needed */
  width: 250px; /* Ensure the width matches your desired card width */
  box-sizing: border-box; /* Prevent padding/margin issues */
}